* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
}

p {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4;
}

section {
  padding: 7rem 0;
}

.container {
  width: 100%;
  max-width: 115rem;
  margin: 0 auto;
  padding: 0 2.5rem;
}

header {
  width: 100%;
  padding: 2.5rem 0;
  background-color: hsl(257deg, 27%, 26%);
}

nav {
  display: flex;
  align-items: center;
}
nav .logo {
  height: 3.5rem;
  padding: 0 3rem;
  margin-right: 4rem;
  color: #fff;
}
nav ul {
  display: flex;
  flex-grow: 1;
  position: relative;
}
nav ul li {
  list-style: none;
  font-size: 1.4rem;
  padding: 1.5rem;
}
nav ul li a {
  font-size: inherit;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}
nav ul li a:hover {
  color: hsl(180deg, 66%, 49%);
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.intro-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.intro-text .f-h {
  font-size: 5.3rem;
  font-weight: 700;
  color: hsl(257deg, 27%, 26%);
}
.intro-text .f-h span {
  display: block;
}
.intro-text .f-p {
  font-size: 1.5rem;
  color: gray;
  font-weight: 500;
  margin: 10px;
}
.intro-text .btn {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: hsl(180deg, 66%, 49%);
  padding: 1rem 2rem;
  color: #fff;
  border-radius: 5rem;
  opacity: 1;
  transition: all 0.3s;
}
.intro-text .btn:hover {
  opacity: 0.8;
}
.intro-text .btn-large {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.2rem 3.5rem;
}

.intro-img {
  width: 45%;
}

.form-section {
  background-color: rgb(238, 233, 233);
  margin-top: 10rem;
}

.main-form form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.main-form form {
  background-color: hsl(257deg, 27%, 26%);
  max-width: 100rem;
  margin: 0 auto;
  padding: 5rem;
  background-image: url(/Images/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  transform: translateY(-80%);
}
.main-form form input {
  width: 80rem;
  padding: 1.5rem;
  font-size: 14px;
  font-weight: 400;
  border-radius: 5px;
}
.main-form form button {
  width: 20rem;
  height: 5rem;
  margin-left: 20px;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: hsl(180deg, 66%, 49%);
  color: #fff;
  opacity: 1;
  transition: all 0.3s;
}
.main-form form button:hover {
  opacity: 0.8;
}

.main-text {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.main-text h1 {
  font-size: 4.3rem;
  font-weight: 700;
  color: hsl(257deg, 27%, 26%);
}
.main-text p {
  margin-top: 15px;
  font-size: 1.7rem;
  color: rgb(150, 147, 147);
}

.features-section {
  background-color: rgb(238, 233, 233);
}

.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.feature::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 30%;
  width: 50%;
  height: 0.5rem;
}

.feature-box {
  position: relative;
  background-color: #fff;
  padding: 7rem 3rem 3rem 3rem;
  border-radius: 0.5rem;
  z-index: 1;
}
.feature-box .feature-image {
  display: inline-block;
  background-color: hsl(257deg, 27%, 26%);
  padding: 1.5rem;
  border-radius: 1px solid transparent;
  border-radius: 50%;
  position: absolute;
  top: -3.5rem;
  left: 2.5rem;
}
.feature-box h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  color: hsl(257deg, 27%, 26%);
  padding-bottom: 2.5rem;
}

.feature-box:not(:last-child) {
  margin-right: 2.5rem;
}

.box-2 {
  margin-top: 6%;
}

.box-3 {
  margin-top: 12%;
}

.Aside-Section {
  background-color: hsl(257deg, 27%, 26%);
  background-image: url(/Images/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  height: 20rem;
}

.aside .aside-content {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.aside .aside-content h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
}
.aside .aside-content .btn {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: hsl(180deg, 66%, 49%);
  margin-top: 17px;
  padding: 1rem 2rem;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 5rem;
}
.aside .aside-content .btn-large {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.2rem 3.5rem;
}

.footer-section {
  padding: 5rem 0;
  background-color: rgb(47, 46, 46);
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.u-mb-small {
  color: #b7b8bb;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
}
.footer-links li {
  padding-bottom: 1rem;
  list-style: none;
}
.footer-links li a {
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}
.footer-links li a:hover {
  color: hsl(180deg, 66%, 49%);
}

.footer-icons img {
  padding: 0 2rem 0.5rem 0;
  cursor: pointer;
}

/* TABLET SIZE WIDTH */
@media screen and (max-width: 985px) {
  /* INTRO SECTION */
  .intro-text {
    width: 50%;
  }
  .intro-text .f-h {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
  /* form section */
  .main-text {
    width: 100%;
  }
  .main-text h1 {
    font-size: 3rem;
  }
  /* FEATURES SUBSECTION */
  .feature-box {
    padding: 7rem 2rem 3rem 2rem;
  }
  .feature-box:not(:last-child) {
    margin-right: 1.5rem;
  }
}
/* MOBILE PHONE WIDTH*/
@media screen and (max-width: 600px) {
  /* Header section */
  header {
    width: 110%;
    height: 10rem;
  }
  nav {
    display: block;
    text-align: center;
  }
  nav .logo {
    margin: 0;
    padding: 0;
  }
  nav ul {
    justify-content: center;
    margin-bottom: 20px;
  }
  .u-login {
    display: inline;
  }
  /* INTRO SECTION */
  .intro {
    flex-direction: column-reverse;
  }
  .intro-image {
    padding-bottom: 4rem;
  }
  .intro-text {
    display: block;
    width: 100%;
    text-align: center;
    padding: 4rem 0;
  }
  .main-form {
    font-size: 1rem;
    padding: 3.5rem 7rem 3.5rem 2rem;
  }
  /* FEATURE SUBSECTION */
  .feature {
    flex-direction: column;
    position: relative;
    text-align: center;
  }
  .feature::after {
    /* display: none; */
    left: 50%;
    top: 20%;
    height: 50rem;
    width: 0.5rem;
    /* z-index: 11; */
  }
  .feature-box {
    margin-bottom: 10rem;
  }
  .feature-box .feature-image {
    left: 50%;
    transform: translateX(-50%);
  }
  .feature-box:not(:last-child) {
    margin-right: 0;
  }
  .box-2,
.box-3 {
    margin-top: 0;
  }
  /* ASIDE SECTION */
  /* FOOTER SECTION */
  .footer-section {
    margin-top: 5rem;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */